@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.gradient-block {
  background-image: linear-gradient(to top, #F9F0E5, #F9F0E54F 31%);
}
